@import "fonts/fonts.css";

body {
    font-family: "Graphik LCG";
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #fff;
    background: linear-gradient(45deg, #1b1b1f, #34343b);
}

a:link,
a:visited {
    color: #5ebeff;
    text-decoration: none;
}

a:hover,
a:active {
    color: #ccc;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e6e6e6;
}

.header {
    font-weight: 600;
    font-size: 16px;
    background-color: #222;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.header a {
    color: #fff;
    text-decoration: none;
}

.tabs {
    display: flex;
}

.tab {
    padding: 10px 20px;
    margin: 2px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.tab:hover,
.tab.active {
    background-color: #555;
    box-shadow: 0px 0px 10px rgba(105, 104, 105, 0.6);
}

.content {
    text-align: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    overflow-wrap: break-word;
}

.mini-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.main-icon {
    max-width: 75px;
    border-radius: 10%;
    box-shadow: 0px 0px 10px rgba(105, 104, 105, 0.6);
    margin-bottom: 20px;
}

.gradient {
    background: repeating-linear-gradient(45deg, #ff0000, #ac0000 15%, #ff0000 20%);
    text-shadow: 0px 0px 10px rgba(161, 0, 0, 0.6);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-xm {
    background: repeating-linear-gradient(45deg, #ff0000, #fff 10%, #ff0000 20%);
    text-shadow: 0px 0px 10px rgba(161, 0, 0, 0.3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

img {
    max-width:100%;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    transition: backdrop-filter 0.3s;
}

.guide-content {
    background: linear-gradient(135deg, #1e1e1e, #2e2e2e);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    color: #ffffff;
    position: relative;
    overflow-y: scroll;
    max-height: 90vh;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.content-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 20px;
}

.tile {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    height: 200px;
    display: flex;
    align-items: flex-end;
}

.tile:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2);
}

.tile:nth-child(1) .gradient-background {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.tile:nth-child(2) .gradient-background {
    background: linear-gradient(135deg, #f22c7f, #6617cb);
}

.tile:nth-child(3) .gradient-background {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
}

.tile:nth-child(4) .gradient-background {
    background: linear-gradient(135deg, #3494e6, #ec6ead);
}

.tile img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.gradient-background {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.title {
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    font-size: 1.5em;
    position: relative;
}

.info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.info-box {
    background: linear-gradient(45deg, #2c2c2c, #353535);
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    text-align: center;
    position: relative;
}

.info-box-main {
    background: linear-gradient(45deg, #2c2c2c, #353535);
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

.info-boxes {
    width: 80%;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .big-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 20px;
    }
}